<div class="container">
    <h1>This is Material !!</h1>
    <div>
        <h2>Material Buttons</h2>
        <button mat-button>Button</button>
        <button mat-raised-button>Raised Button</button>
        <button mat-flat-button>Flat Button</button>
        <button mat-storoked-button>Storoked Button</button>
    </div>
    <br><br>
    <div>
        <h2>Material Buttons</h2>
        <button mat-button>Basic</button>
        <button mat-button color="primary">primary</button>
        <button mat-button color="accent">accent</button>
        <button mat-button color="warn">warn</button>
        <br><br>

        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">primary</button>
        <button mat-raised-button color="accent">accent</button>
        <button mat-raised-button color="warn">warn</button>
    </div>

</div>
